
<app-header></app-header>

<h2>18 - Add bootstrap in Angular</h2>
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<br>
<h2>17 - Style Binding in Angular</h2>
<h3 style="color: red">Heading h3 with just style property</h3>
<h3 [style.color]="color">Heading h3 with dynamic binding</h3>
<h3 [style.color]="err? 'red' : 'green'">Toggle Heading h3 with dynamic binding</h3>
<button (click)="updateColor()">toggle color</button>
<br>  <br>

<h2>15 - Simple Form in Angular</h2>
<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
  <input type="text" ngModel name="name" placeholder="enter the user name">
  <br>  <br>
  <input type="text" ngModel name="age" placeholder="enter the age">
  <br>  <br>
  <input type="text" ngModel name="email" placeholder="enter the email">
  <br>  <br>
  <input type="password" ngModel name="password" placeholder="enter the password">
  <br>  <br>
  <button>Get user values</button>
</form>
<br>  <br>
<h2>14 - For Loop in Angular</h2>
<!--
  <h4 *ngFor="let item of employees">{{item.name}}{{item.age}}</h4>
-->
<table border="1">
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Email</td>
  </tr>
  <tr *ngFor="let item of employees">
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
    <td>{{item.email}}</td>
  </tr>
</table>
<br>  <br>

<h2>13 - Switch case in Angular</h2>

<div [ngSwitch]="color">
  <h3 style="color: red;" *ngSwitchCase="'red'">red color</h3>
  <h3 style="color: green;" *ngSwitchCase="'green'">green color</h3>
  <h3 style="color: gray;" *ngSwitchDefault>default color</h3>
</div>
<br>  <br>

<h2>12 - Conditions in Angular</h2>
<!--
  <h2 *ngIf="show == 'yes'; then ifBlock else elseBlock"> if block</h2>
<ng-template #ifBlock>
  <h2>if block</h2>
</ng-template>
<br>
<ng-template #elseBlock>
  <h2>else block</h2>
</ng-template>
-->
<ng-template [ngIf]="show == 'green'">
  <h4>green block</h4>
</ng-template>
<ng-template [ngIf]="show == 'blue'">
  <h4>blue block</h4>
</ng-template>
<br><br>

<h2>11 - property binding and interpolation in Angular</h2>
<br>
<!-- Binding-->
<input type="text" [disabled]=disabledBox [value]="name">
<br>
<!-- interpolation -->
<input type="text" disabled={{disabledBox}} value={{name}}>
<br>
<button (click)="enableBox()">Enable textbox</button>
<br>
<br>
<h2>10 - Get text box values in Angular</h2>
<!--(keyup)="getValue(event.target.value)" did not work -->
<input type="text" #box7 (keyup)="getValue(box7.value)" />
<h2>{{currentValue}}</h2>

<input type="text" #box8 />
<button (click)="getValue(box8.value)">Get above value</button>
<h2>{{currentValue}}</h2>
<br>


<h2>9 - Important Events in Angular</h2>
<button (click)="myEvent('this is click event')">click me</button>
<br>
<label>on key up: </label>
<input type="text" #box (keyup)="myEvent(box.value)" />
<br>
<label>on key down: </label>
<input type="text" #box2 (keydown)="myEvent(box2.value)" />
<br>
<label>on key up space: </label>
<input type="text" #box3 (keyup.space)="myEvent(box3.value)" />
<br>
<label>on blur: </label>
<input type="text" #box4 (blur)="myEvent(box4.value)" />
<h3 (mouseover)="myEvent('just went over title')" style="background-color: skyblue">mouse over </h3>
<h3 (mouseleave)="myEvent('just left title')" style="background-color: red">mouse over </h3>

<br>  <br>
<h2> 5 - Angular Interpolation</h2>
<h4>{{name}}</h4>
<h4>{{getName()}}</h4>
<h4>{{obj.age}}</h4>
<h4>Accessing Array prints all entries separted by commas: {{arr}}</h4>
<h4>Cannot use window directly, must put value in JS var: {{siteUrl}}</h4>
<br>


<h2>6 - New components</h2>
<h4>at app level</h4>
<app-user-list></app-user-list>

<h2>7 - at users level, subcomponent of app </h2>
<app-login></app-login>
<br>


<h2>4 - Functions and Click Event</h2>
<button (click)="getNameWithButton(myName)">Get My name in property</button>
<br>

<app-footer></app-footer>